<!DOCTYPE html>
<html>
<head>
    <title>Sign Language Translator</title>
    <link rel="stylesheet" href="/statics/style.css">
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@0.11.7"></script>
</head>
<body>
    <!-- menu bar to change between the page -->
    <div class="menubar">
        <a href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('wbcam') }}">Webcam</a>
        <a class="active" href="{{ url_for('upload') }}">Picture Translate</a>
        <a href="{{ url_for('about') }}">About</a>
    </div>
    <!-- Main content -->
    <div>
        <h1 class="title">TensorflowJS client side prediction</h1>
        <h2 class="title">When you first time press predict it will take more time, for model to load</h2>
        <main class="file-form">
            <input type="file" id="file" multiple class="file-form__select-file">
            <label for="file" class="file-form__select-file_label">Choose files</label>
            <button type="submit" class="file-form__button file-form__button_predict" id="predict">Predict</button>
            <button type="submit" class="file-form__button file-form__button_clear" id="clear">Clear</button>
            <span class="file-form__files" id="number-of-files"></span>
        </main>
        <div id="preview"></div>
        <script src="/statics/frontend/main.js"></script>
    </div> 
    <!-- scripts -->
    <script src="https://unpkg.com/feather-icons"></script>
    <script src="../statics/script.js"></script>

</body>
</html>