<!DOCTYPE html>
<html>
<head>
    <title>Sign Language Translator</title>
    <link rel="icon" type="image/x-icon" href="/statics/hand.ico">
    <link rel="stylesheet" href="../statics/style.css">
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@1.0.0/dist/tf.min.js"></script>
</head>
<body>
    <!-- Navigation links (hidden by default) -->
    <div id="NLinks" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"><i data-feather="x" ></i></a>
        <a href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('upload') }}">Translate</a>
        <a href="{{ url_for('dict') }}">Fingerspell</a>
        <a href="{{ url_for('about') }}">About</a>
    </div>
    <div class="shadow_opacity" id="shadow_opacity"></div>
    <div class="top-bar">
        <a href="javascript:void(0);" onclick="openNav()">
        <image class="fa fa-bars" src="../statics/pic/hand.png"></image>
        </a>
    </div><div class="banner">
        <h1 class="subtitle">Sign Language Translator</h1>
        <h4 class="subtitle">Upload a gesture Image to translate it</h4>
        <h5 class="subtitle">( .jpeg .jpg .png )</h5>
        
    </div> 
    <div class="output">
        <div class="flex-child">
            <h2>Preview</h>
            <div class="previmg" id="preview-img" >
                <div class="image-block">
                
                </div>
            </div>
        </div>
        <div class="flex-child">
            <h2>Output</h>
            <div >
                <div class="image-block">
                    <h2 class="image-block__label" id="preview"></h2>
                </div>
            </div>      
        </div>
    </div>
    <div class="file-form-btm">
        <main class="file-form">
            <input type="file" id="file" class="file-form__select-file">
            <label for="file" class="file-form__select-file_label">Choose Image</label>
            <button type="submit" class="file-form__button file-form__button_predict" id="predict">Translate</button>
            <button type="submit" class="file-form__button file-form__button_clear" id="clear">Clear</button>
            <button class="dm" onclick="darkmode()"><i data-feather="moon" ></i></button>

            <span class="file-form__files" id="number-of-files"></span>
        </main>
    </div>
    <!-- scripts -->
    <script src="https://unpkg.com/feather-icons"></script>
    <script src="../statics/frontend/main.js"></script>
    <script>
        feather.replace()
    </script>
</body>
</html>

